
 .button1
 {
    padding:0.5rem ;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(46, 88, 202);
    color:white;
    border:0;
    margin-left:1rem;
    border-radius: 0.2em;
 }
 .button2
 {
    padding:0.5rem ;
    padding-left: 1em;
    padding-right: 1em;
    color: rgb(46, 88, 202);
    border-color: rgb(46, 88, 202);
    background-color:white;
   
    margin-left:1rem;
    border-radius: 0.2em;
 }
 .link nav-link
 {
    color:none;
 }
 button{
    padding:none;
 }
 .black-section
 {
    background-color: black;
    color:white;
    text-align: center;
    padding-top: 5rem;
 }
section div img{
   
}
.sec-2-cards{
   padding: 20px;
   display: flex;  align-items: center
   
}
.sec-2-cards img{
   width: 70px; padding-top: 30px;
}
.sec-4{
   background-color:#191919;
   width: 100%;

}
.sec4-cards{
   background-color: #1f1f1f;
}
.section-6{
   background-color: #fafafa;
 }
 .mail{
   display: inline-block;
   

 }
 .phone{
   display: inline-block;
 }
 ::placeholder {
   color: rgb(58, 53, 53);
   opacity: 1; /* Firefox */
 }
 div ul li{
   list-style: none;
   display: inline;
 }
 li img{
   height: 20px;
 }
 .ftr{
   display: grid;
   grid-template-columns: repeat(4,1fr);
 }
@media (max-width:995px) {
 .ftr{
   display: flex;
   flex-direction: column;
 }
}
.txt-links{
 text-decoration: none;
 
}
.






